.container1{
    display: flex;
    padding-left:10px;
    border:2px solid black;
    justify-content: center;
    border: none;
    padding-top:15px;
    background-color: aquamarine; 
}
img{
    width:55px;
    height:60px;
    border-radius:50%;
    padding-top:px;
}
ul{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content:center;
    color:black
}
li:hover{
    border-bottom:2px dashed rgb(233, 242, 233);
    text-shadow: 2px 2px yellow;
}
a{
    text-decoration:none;
    color:black
}
#navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding-left: 70px;
    border: none;  
}
#navigation li:hover{
    color:green;
}
.container2{
    padding-top: 100px;
}
.container2 center{
    font-size: x-large;
}
center h1{
    text-shadow:1px 6px gray;
}
h2{
    padding-left: 200px;
    color:blue;
    text-shadow:2px 2px yellow;
}
.container3{
    padding-top: 320px;
    
}
#container3{
    display: flex;
    border: 2px solid black;
    padding-left: 200px;
    gap: 200px;
    border:none;
    padding-right:200px;
}
#container4{
    display: flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    padding-left: 200px;
    gap: 110px;
    border:none;
    padding-right:200px;
}
#container4 img{
    height:200px;
    width:200px;
    border-radius:50%;
}
#container4 img:hover{
    opacity:0.5;
}
#container5{
    display: flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    padding-right: 200px;
    gap: 110px;
    border:none;
    padding-left:200px;
}
#container5 img{
    height:200px;
    width:200px;
    border-radius:50%;
    opacity:1;
}
#container5 img:hover{
    opacity:0.5;
}
center h2,input{
    padding-right:200px;

}
button{
    border-radius:5px;
    background-color:rgb(240, 230, 230);
}
button:hover{
    
    background-color:blue;
    color:white;
}
p,h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: whitesmoke;
}
b{
    color:blue;
    text-shadow:2px 2px yellow;
}
span{
    text-shadow:2px 2px yellow;
}
#shown input{
    border: none;
    color: blue;
    text-shadow:2px 2px yellow;
    background-color: whitesmoke;

}